
Flask==3.1.0
Flask-Cors==5.0.0
Flask-Migrate==4.0.7
Flask-Script==2.0.6
Flask-SQLAlchemy==3.1.1
fsspec==2023.9.2

jedi==0.19.2
Jinja2==3.1.4
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
locket==1.0.0
Mako==1.3.8
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mistune==3.1.0
more-itertools==10.1.0
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
netCDF4==1.6.4
numpy==1.26.1
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.1
pandocfilters==1.5.1

portalocker==2.8.2
prompt_toolkit==3.0.48
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pydantic==2.4.2
pydantic_core==2.10.1
Py
pysat==3.1.0
PySocks==1.7.1
pytest==7.4.2
python-dateutil==2.8.2
python-dotenv==1.0.1
python-sat==0.1.8.dev10
python-time==0.3.0
pyttsx3==2.90
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==26.2.0
referencing==0.35.1
requests==2.31.0
rpds-py==0.22.3
s3transfer==0.10.2
scipy==1.11.3

SQLAlchemy==2.0.36
sqlparse==0.5.1
